p {
    color: rgb(241, 231, 231);
    text-align: center;
    font-size: 35px;

}

body {
    background-image: url("ursoComCurso.png");
    background-repeat: repeat-x;
    background-position: 50% -50%;
    background-color: forestgreen;
}